doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug
        // Section hero banner
        section.hero
            .carousel.slide#heroCarousel(data-bs-ride="carousel")
                .carousel-indicators
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="0", class="active", aria-current="true", aria-label="Slide 1")
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="1", aria-label="Slide 2")
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="2", aria-label="Slide 3")
                .carousel-inner
                    .carousel-item.active
                        .row.align-items-center
                            img.imgHeroItem(src="./assets/img/Hero 1.png", alt="Snovv Banner")
                            .btnshopWrapperHero1
                                a.btnshopLink(href="products.html")
                                    span.shopLinkText Beli sekarang
                                    img(src="./assets/img/icon/ic_arrow_right.svg")
                    .carousel-item
                        .row.align-items-center
                            img.imgHeroItem(src="./assets/img/Hero 2.png", alt="Snovv Banner")
                            .btnshopWrapperHero2
                                a.btnshopLink(href="productDetail3.html")
                                    span.shopLinkText Beli sekarang
                                    img(src="./assets/img/icon/ic_arrow_right.svg")
                    .carousel-item
                        .row.align-items-center
                            img.imgHeroItem(src="./assets/img/Hero 3.png", alt="Snovv Banner")

        // Section Promotion Youtube Video
        section.vidYoutube
            .vidBox
                .thumbVid
                    img.thumbVid#youtubeImg(src="./assets/img/img_youtube.png" onclick="changeToVideo()")
                    img.playButton#icPlay(src="./assets/img/icon/ic_playVid.png" onclick="changeToVideo()")

        // section Top Product
        section.products-home
            .productWrapper
                .headerWrapper
                    span.titleText Produk
                    .viewmoreWrapper
                        a.btnViewmore(href="products.html") Lihat lainnya
                .listproductWrapper#dataproducts

        // Section Promotion Banner
        section.promo-section
            .carousel.slide#promoCarausel(data-bs-ride="carousel" style="align-items: center; justify-content: center;")
                .carousel-indicators.custom-indicators
                    button(type="button" data-bs-target="#promoCarausel" data-bs-slide-to="0" class="active" aria-current="true")
                    button(type="button" data-bs-target="#promoCarausel" data-bs-slide-to="1")
                    button(type="button" data-bs-target="#promoCarausel" data-bs-slide-to="2")
                .carousel-inner
                    .carousel-item.active
                        .d-flex.justify-content-center
                            img.itemPromo(src="./assets/img/promo1.png" alt="Snovv Promo")
                        
                    .carousel-item
                        .d-flex.justify-content-center
                            img.itemPromo(src="./assets/img/promo1.png" alt="Snovv Promo")
                        
                    .carousel-item
                        .d-flex.justify-content-center
                            img.itemPromo(src="./assets/img/promo1.png" alt="Snovv Promo")                            
                        
                a.carousel-control-prev(type="button" data-bs-target="#promoCarau sel" data-bs-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.visually-hidden Sebelumnya
                a.carousel-control-next(type="button" data-bs-target="#promoCarausel" data-bs-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.visually-hidden Berikutnya

        // Section Website Review
        section.reviewWebsite
            span.titleTextrev Apa Kata Mereka?
            .container
                .multiple-card-slider
                    .carousel#carouselWebsiteRev(data-bs-ride="false")
                        .container
                            .carousel-inner
                                .carousel-item
                                    .websiterevWrapper
                                        .revImgBox
                                            img.websiterevPict(src="./assets/img/revWeb2.png")
                                        .commentrevWrapper
                                            .ratingrevBox
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            p.websiterevText Di cuaca yang panas seperti ini, lebih nikmat rasanya juga meminumnya dengan air es. Dan kulitku terasa lebih cerah
                                            .custInfoWrapper
                                                img.userFoto(src="./assets/img/userWeb1.png")
                                                .userNameDateWrapper
                                                    span.revNameText Nurul Fitriani
                                                    span.revDateText 07 Februari 2024

                                .carousel-item
                                    .websiterevWrapper
                                        .revImgBox
                                            img.websiterevPict(src="./assets/img/revWeb2.png")
                                        .commentrevWrapper
                                            .ratingrevBox
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            p.websiterevText I like that the dosage is printed neatly on the front. I had a blood test for vitamin D and it came out to be insufficient, so I am taking this product that also contains other ingredients.
                                            .custInfoWrapper
                                                img.userFoto(src="./assets/img/userWeb1.png")
                                                .userNameDateWrapper
                                                    span.revNameText Nurul Fitriani
                                                    span.revDateText 07 Februari 2024

                                .carousel-item
                                    .websiterevWrapper
                                        .revImgBox
                                            img.websiterevPict(src="./assets/img/revWeb2.png")
                                        .commentrevWrapper
                                            .ratingrevBox
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            p.websiterevText Di cuaca yang panas seperti ini, lebih nikmat rasanya juga meminumnya dengan air es. Dan kulitku terasa lebih cerah
                                            .custInfoWrapper
                                                img.userFoto(src="./assets/img/userWeb1.png")
                                                .userNameDateWrapper
                                                    span.revNameText Nurul Fitriani
                                                    span.revDateText 07 Februari 2024

                                .carousel-item
                                    .websiterevWrapper
                                        .revImgBox
                                            img.websiterevPict(src="./assets/img/revWeb2.png")
                                        .commentrevWrapper
                                            .ratingrevBox
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            p.websiterevText Di cuaca yang panas seperti ini, lebih nikmat rasanya juga meminumnya dengan air es. Dan kulitku terasa lebih cerah
                                            .custInfoWrapper
                                                img.userFoto(src="./assets/img/userWeb1.png")
                                                .userNameDateWrapper
                                                    span.revNameText Nurul Fitriani
                                                    span.revDateText 07 Februari 2024

                                .carousel-item
                                    .websiterevWrapper
                                        .revImgBox
                                            img.websiterevPict(src="./assets/img/revWeb2.png")
                                        .commentrevWrapper
                                            .ratingrevBox
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            p.websiterevText Di cuaca yang panas seperti ini, lebih nikmat rasanya juga meminumnya dengan air es. Dan kulitku terasa lebih cerah
                                            .custInfoWrapper
                                                img.userFoto(src="./assets/img/userWeb1.png")
                                                .userNameDateWrapper
                                                    span.revNameText Nurul Fitriani
                                                    span.revDateText 07 Februari 2024

                                .carousel-item
                                    .websiterevWrapper
                                        .revImgBox
                                            img.websiterevPict(src="./assets/img/revWeb2.png")
                                        .commentrevWrapper
                                            .ratingrevBox
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                                span.fa.fa-star
                                            p.websiterevText Di cuaca yang panas seperti ini, lebih nikmat rasanya juga meminumnya dengan air es. Dan kulitku terasa lebih cerah
                                            .custInfoWrapper
                                                img.userFoto(src="./assets/img/userWeb1.png")
                                                .userNameDateWrapper
                                                    span.revNameText Nurul Fitriani
                                                    span.revDateText 07 Februari 2024
                            button.carousel-control-prev(type="button" data-bs-target="#carouselWebsiteRev" data-bs-slide="next")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Sebelumnya
                            button.carousel-control-next(type="button" data-bs-target="#carouselWebsiteRev" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Berikutnya
           
        section.reviewIGVid
            .multiple-card-slider
                .carousel#igCarausel(data-bs-ride="false")
                    .carousel-inner
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                        .carousel-item
                            img.btnPlay(src="./assets/img/icon/ic_playIG.png")
                            img.IGimg(src="./assets/img/igVid.png")
                    button.carousel-control-prev(type="button" data-bs-target="#igCarausel" data-bs-slide="prev")
                        span.carousel-control-prev-icon
                        span.visually-hidden Sebelumnya
                    button.carousel-control-next(type="button" data-bs-target="#igCarausel" data-bs-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.visually-hidden Berikutnya

        section.reviewShop
            .container
                .multiple-card-slider
                    .carousel#carouselExampleControls(data-bs-ride="false")
                        .carousel-inner
                            .carousel-item
                                .itemWrapper
                                    .imgReview 
                                        img.picProduct(src="./assets/img/revShop1.png")
                                    .reviewWrapper 
                                        .ratingWrapper 
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                        p.textReview “Di cuaca yang panas seperti ini, lebih nikmat rasanya juga meminumnya dengan air es. Dan kulitku terasa lebih cerah”
                                        .userWrapper
                                            img.iconShop(src="./assets/img/icon/ic_shopee.png")
                                            .dateInfo
                                                span.userWrapper Pengguna Shopee
                                                span.dateWrapper 07 Februari 2024
                            .carousel-item
                                .itemWrapper
                                    .imgReview 
                                        img.picProduct(src="./assets/img/revShop2.png")
                                    .reviewWrapper 
                                        .ratingWrapper 
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                        p.textReview “On hot days like these, it tastes even better when you put it in ice water and drink it. It makes your face feel brighter.”
                                        .userWrapper
                                            img.iconShop(src="./assets/img/icon/ic_tokped.png")
                                            .dateInfo
                                                span.userWrapper Pengguna Tokopedia
                                                span.dateWrapper 07 Februari 2024
                            .carousel-item
                                .itemWrapper
                                    .imgReview 
                                        img.picProduct(src="./assets/img/revShop2.png")
                                    .reviewWrapper 
                                        .ratingWrapper 
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                            span.fa.fa-star(style="color:orange")
                                        p.textReview “On hot days like these, it tastes even better when you put it in ice water and drink it. It makes your face feel brighter.”
                                        .userWrapper
                                            img.iconShop(src="./assets/img/icon/ic_tokped.png")
                                            .dateInfo
                                                span.userWrapper Pengguna Shopee
                                                span.dateWrapper 07 Februari 2024
                            
                        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.visually-hidden Sebelumnya
                        button.carousel-control-next(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.visually-hidden Berikutnya
        

        section.avaibleStore
            .container
                span Produk tersedia di
                .colImg
                    img.widthImg(src="./assets/img/partner1.png")
                    img.widthImg(src="./assets/img/partner2.png")
                    img.widthImg(src="./assets/img/partner3.png")
                    img.widthImg(src="./assets/img/partner4.png")

        // Section Top Product
        section.vSight-Home
            .vSight-Wrapper 
                .vSight-Header
                    span.vSight-Title V-Sight
                    a.vSightlist-Link(href="v-sight.html")
                        span.btnLinkvSight Lihat lainnya
                .containerList-vSight
                    a.vSightBoxLink(href="detailVsight.html")
                        .vSight-contentWrapper
                            img.vSight-Pict(src="./assets/img/article4.jpg")
                            .vSight-infoWrapper
                                span.vSight-Title 7 Rekomendasi Suplemen Korea
                                span.vSight-Date 1 November 2024

                    a.vSightBoxLink(href="detailVsight.html")
                        .vSight-contentWrapper
                            img.vSight-Pict(src="./assets/img/article5.jpg")
                            .vSight-infoWrapper
                                span.vSight-Title Sehat di dalam, Segar di luar
                                span.vSight-Date 1 November 2024
                   
                    a.vSightBoxLink(href="detailVsight.html")
                        .vSight-contentWrapper
                            img.vSight-Pict(src="./assets/img/article6.jpg")
                            .vSight-infoWrapper
                                span.vSight-Title 7 Kunci Menjaga Wajah Tetap Cerah Sepanjang Hari
                                span.vSight-Date 1 November 2024

        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        script.
            const width = window.innerWidth;
            console.log(width); // 711 1440
            $(document).ready(function () {
                // Replace with your API endpoint
                const apiUrl = "http://localhost:3000/landing/home/getproducts?limit=3";

                // Fetch data using jQuery AJAX
                $.ajax({
                    url: apiUrl,
                    method: "GET",
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            const products = response.products;
                            console.log(products);
                            products.forEach(product => {
                                let discountHTML = "";

                                // Check if the discount sub-object exists
                                if (product.discount) {
                                    discountHTML = `
                                        <div class="priceproductWrapper">
                                            <span class="discountPrice">± Rp ${product.finalPrice.toLocaleString()}</span>
                                            <span class="normalPrice"> Rp ${product.price.toLocaleString()}</span>
                                            <div class="ratediscountWrapper">
                                                <span class="rateText">${product.discount.value}%</span>
                                            </div>
                                        </div>`;
                                } else {
                                    discountHTML = `
                                        <div class="priceproductWrapper">
                                            <span class="discountPrice">± Rp ${product.finalPrice.toLocaleString()}</span>
                                        </div>`;
                                }
                                const productHTML = `
                                    <a class="cardProduct" href="productDetail1.html">
                                        <div class="pictProductWrapper">
                                            <img class="pictProduct" src="${product.thumbnail}"/>
                                        </div>
                                        <div class="productDescWrapper">
                                            <span class="productName">${product.name}</span>
                                            ${discountHTML}
                                        </div>
                                    </a>`;
                    
                                $('#dataproducts').append(productHTML);
                            });
                        } else {
                            $("#product-list").html("<p>No products available.</p>");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching products:", error);
                        $("#product-list").html("<p>Failed to load products.</p>");
                    },
                });
            });
       
            function changeToVideo() {
                // Reference to the image element
                const imgElement = document.getElementById('youtubeImg');
                const icplay = document.getElementById('icPlay');
                let widthVid = "";

                if (window.innerWidth < 1000) {
                    widthVid = 400;
                }else{
                    widthVid = 1260;
                }

                // Create a new video element
                const videoElement = document.createElement('video');
                videoElement.width = widthVid; // Set the width of the video
                videoElement.controls = true; // Add controls to the video
                videoElement.autoplay = true; // Optional: start playing automatically
                videoElement.style.borderRadius = '20px';
                videoElement.style.boxShadow = '0px 0px 0px';

                // Create a source element for the video
                const sourceElement = document.createElement('source');
                sourceElement.src = "./assets/video/snovv_ads.mp4"; // Set the video source URL
                sourceElement.type = "video/mp4"; // Set the video type

                videoElement.addEventListener('play', () => {
                    icplay.style.display = 'none'; // Show the element
                });

                videoElement.addEventListener('pause', () => {
                    icplay.style.display = 'none'; // Hide the element
                });

                // Optionally, hide the element when the video ends
                videoElement.addEventListener('ended', () => {
                    icplay.style.display = 'block';
                    videoElement.parentNode.replaceChild(imgElement, videoElement);
                });

                // Append the source to the video
                videoElement.appendChild(sourceElement);

                // Replace the image with the video
                imgElement.parentNode.replaceChild(videoElement, imgElement);
            }

            $('.multiple-card-slider .carousel').each(function(){
                var currentCarouselId = '#' + $(this).attr('id');
                const multipleItemCarousel = document.querySelector(currentCarouselId);

                if(window.matchMedia("(min-width:576px)").matches){
                    const carousel = new bootstrap.Carousel(multipleItemCarousel, {
                        interval: false,
                        wrap: false
                    })
                    var carouselWidth = $(currentCarouselId + ' .carousel-inner')[0].scrollWidth;
                    var cardWidth = $(currentCarouselId + ' .carousel-item').width();
                    var scrollPosition = 0;    
                    $(currentCarouselId + ' .carousel-control-next').on('click', function(){
                        if(scrollPosition < (carouselWidth - (cardWidth * 4))){
                            console.log('next');
                            scrollPosition = scrollPosition + cardWidth;
                            $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
                        }
                    });
                    $(currentCarouselId + ' .carousel-control-prev').on('click', function(){
                        if(scrollPosition > 0){
                            console.log('prev');
                            scrollPosition = scrollPosition - cardWidth;
                            $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
                        }
                    });
                }else{
                    $(multipleItemCarousel).addClass('slide');
                }
            });
