doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section Top Product
        section.products
            h1.text-center Products
            .row
                ul.product-container
                    li.product
                        a.linkToDetail(href="productDetail.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product1.png")
                            .infoProduct
                                span.productName Snovv Glutathione
                                .priceWrapper
                                    span.discountPrice ± Rp 150.000
                                    span.normalPrice Rp 250.000
                                    .rateWrapper
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product2.png")
                            .infoProduct
                                span.productName Snovv Magnesium
                                .priceWrapper
                                    span.discountPrice ± Rp 93.000
                                    span.normalPrice Rp 150.000
                                    .rateWrapper
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product3.png")
                            .infoProduct
                                span.productName Snovv Liposome Vitamin C
                                .priceWrapper
                                    span.discountPrice ± Rp 93.000
                                    span.normalPrice Rp 150.000
                                    .rateWrapper
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product4.png")
                            .infoProduct
                                span.productName Snovv Glutathione + Vitamin C
                                .priceWrapper
                                    span.discountPrice ± Rp 450.000
                                    span.normalPrice Rp 950.000
                                    .rateWrapper
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product5.png")
                            .infoProduct
                                span.productName Snovv 3 Mini Pack
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    span.normalPrice Rp 500.000
                                    .rateWrapper
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product5.png")
                            .infoProduct
                                span.productName Snovv 3 Mini Pack
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    span.normalPrice Rp 500.000
                                    .rateWrapper
                                        span.numberRate 43%
                    
        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        script.
            const products = [
                { name: "Product 1", price: "$19.99", image: "https://via.placeholder.com/150", description: "Description of product 1." },
                { name: "Product 2", price: "$29.99", image: "https://via.placeholder.com/150", description: "Description of product 2." },
                { name: "Product 3", price: "$39.99", image: "https://via.placeholder.com/150", description: "Description of product 3." },
                { name: "Product 4", price: "$49.99", image: "https://via.placeholder.com/150", description: "Description of product 4." },
                { name: "Product 5", price: "$59.99", image: "https://via.placeholder.com/150", description: "Description of product 5." },
                { name: "Product 6", price: "$69.99", image: "https://via.placeholder.com/150", description: "Description of product 6." },
                { name: "Product 7", price: "$79.99", image: "https://via.placeholder.com/150", description: "Description of product 7." },
                { name: "Product 8", price: "$89.99", image: "https://via.placeholder.com/150", description: "Description of product 8." }
            ];
            
            const productList = document.getElementById("product-list");

            products.forEach((product) => {
                const col = document.createElement("div");
                col.className = "col-12 col-sm-6 col-md-4 col-lg-3";
                col.innerHTML = `
                <div class="card h-100">
                    <img src="${product.image}" class="card-img-top" alt="${product.name}">
                    <div class="card-body">
                    <h5 class="card-title">${product.name}</h5>
                    <p class="card-text">${product.description}</p>
                    </div>
                    <div class="card-footer">
                    <p class="text-success fw-bold">${product.price}</p>
                    <a href="#" class="btn btn-primary w-100">Add to Cart</a>
                    </div>
                </div>
                `;
                productList.appendChild(col);
            });
        