doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section contact-us form
        section.productDetail-section
            .wrapper 
                .leftBox
                    .carousel.slide#productCarausel(data-bs-ride="false")
                        ol.carousel-indicators
                            li(data-bs-target="#productCarausel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                            li(data-bs-target="#productCarausel" data-bs-slide-to="1" aria-label="Slide 2")
                            li(data-bs-target="#productCarausel" data-bs-slide-to="2" aria-label="Slide 3")
                        .wrapCarouselImg
                            .carousel-inner
                                .carousel-item.active
                                    img(src="./assets/img/product1.png")
                                .carousel-item
                                    img(src="./assets/img/product1.png")
                                .carousel-item
                                    img(src="./assets/img/product1.png")
                            button.carousel-control-prev(type="button" data-bs-target="#productCarausel" data-bs-slide="next")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Preview
                            button.carousel-control-next(type="button" data-bs-target="#productCarausel" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next
        
                    .multiple-card-slider
                        .carousel#carouselExampleControls(data-bs-ride="false")
                            .carousel-inner
                                .carousel-item.active
                                    img(src="./assets/img/dtProduct1.png")
                                .carousel-item.active
                                    img(src="./assets/img/dtProduct2.png")
                                .carousel-item.active
                                    img(src="./assets/img/dtProduct2.png")
                                .carousel-item.active
                                    img(src="./assets/img/dtProduct3.png")
                                .carousel-item.active
                                    img(src="./assets/img/dtProduct3.png")
                                .carousel-item.active
                                    img(src="./assets/img/dtProduct1.png")
                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Preview
                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next
                        
                .rightBox 
                    .productInfo
                        span.productName Snovv Glutathione
                        .ratingWrapper
                            .starWrapper 
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.totalSpan (4 Ulasan)
                        .productPrice
                            span.discountPrice ± Rp 150.000
                            span.normalPrice Rp. 250.000
                            .discountRate 
                                span 43%
                    .shopLink 
                        span Belanja dengan
                        .btnWrapper
                            a.btnShop(href="#")
                                img(src="./assets/img/icon/ic_shopee.png")
                                span Shopee
                            a.btnShop(href="#")
                                img(src="./assets/img/icon/ic_tokped.png")
                                span Tokopedia
                                
                    div(style="width:100%; align-self: stretch; height: 1px; background: #C4C4C4")

                    .productDetail
                        .DescWrapper
                            span.titleTextProductDetail Detail Produk
                            .infoWrapper
                                span.boldText Merek :
                                span.valueText About H
                                br
                                span.boldText Produsen :
                                span.valueText Biofarm
                            ul.descText 
                                li Diformulasikan oleh Dokter Kulit Korea
                                li Formulasi GV5, Kecantikan dari dalam
                                li 250 mg Glutathione Premium dari Korea
                                li Mengandung Bahan Khusus untuk Kecantikan dari dalam, yang dipilih sesuai dengan standar yang tinggi
                    div(style="width:100%; align-self: stretch; height: 1px; background: #C4C4C4")
                    .accordion.accordion-flush#productInfoAccordion 
                        .accordion-item
                            .accordion-header
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#data1" aria-expanded="false" aria-controls="data1") Cara Penyajian
                            .accordion-collapse.collapse#data1(data-bs-parent="#productInfoAccordion")
                                .accordion-body 
                                    p Isi konten untuk cara penyajian
                        .accordion-item
                            .accordion-header
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#data2" aria-expanded="false" aria-controls="data2") Bahan
                            .accordion-collapse.collapse#data2(data-bs-parent="#productInfoAccordion")
                                .accordion-body Isi konten untuk bahan

        section.detailTab
            .row.justify-content-center.mt-2
                .col-md-12
                    .card.border-0.text-center
                        ul.nav.nav-tabs.nav-justified.card-header-tabs#myTab(role="tablist" style="padding-bottom: 30px;")
                            li.nav-item.active
                                a.nav-link.active#tab1-tab(data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true") Informasi
                            li.nav-item
                                a.nav-link#tab2-tab(data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true") Ulasan (4)
                            li.nav-item
                                a.nav-link#tab3-tab(data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="true") FAQ
                    .card-body
                        .tab-content#myTabContent
                            .tab-pane.fade.show.active#tab1(role="tabpanel" aria-labelledby="tab1-tab")
                                .container
                                    img(src="./assets/img/dtinfoProduct1.png" width="100%")
                            .tab-pane.fade#tab2(role="tabpane2" aria-labelledby="tab2-tab")
                                .reviewBox
                                    .reviewWrapper
                                        .boxReview
                                            .ratingBox
                                                .starBox
                                                    label 5.0
                                                    .starWrapper
                                                        span.fa.fa-star.checked
                                                        span.fa.fa-star.checked
                                                        span.fa.fa-star.checked
                                                        span.fa.fa-star.checked
                                                        span.fa.fa-star.checked
                                                .totalRating
                                                    .rateWrapper
                                                        label 5
                                                        span.fa.fa-star.checked
                                                        .progress(role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                                                            .progress-bar(style="width: 100%")
                                                        span.spanStar 10
                                                    .rateWrapper
                                                        label 4
                                                        span.fa.fa-star.checked
                                                        .progress(role="progressbar" aria-label="Example with label" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100")
                                                            .progress-bar(style="width: 35%")
                                                        span.spanStar 5
                                                    .rateWrapper
                                                        label 3
                                                        span.fa.fa-star.checked
                                                        .progress(role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
                                                            .progress-bar(style="width: 10%")
                                                        span.spanStar 2
                                                    .rateWrapper
                                                        label 2
                                                        span.fa.fa-star.checked
                                                        .progress(role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                                                            .progress-bar(style="width: 0%")
                                                        span.spanStar 0
                                                    .rateWrapper
                                                        label 1
                                                        span.fa.fa-star.checked
                                                        .progress(role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                                                            .progress-bar(style="width: 0%")
                                                        span.spanStar 0
                                            .reviewProdukSeparator
                                            .imgMedia
                                                img(src="./assets/img/media_review.png")                                            
                                                button.btnInput.border-0#showInTab(type="button" data-bs-toggle="modal" data-bs-target="#modalReviewProduct") Tulis Ulasan
                                        button.btnInput.border-0#hideinTab(type="button" data-bs-toggle="modal" data-bs-target="#modalReviewProduct") Tulis Ulasan
                                    .filterWrapper
                                        h6 Menampilkan 1 - 4 dari 4 ulasan
                                        .dropdown
                                            span(style="padding-right:15px;") Urutkan berdasarkan
                                            a.btn.btn-outline-secondary.dropdown-toggle#filterDropdown(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Terbaru
                                            ul.dropdown-menu(aria-labelledby="filterDropdown")
                                                li
                                                    a.dropdown-item(href="#") Date
                                                li
                                                    a.dropdown-item(href="#") Rating
                                                li
                                                    a.dropdown-item(href="#") Media

                                    div(style="width: 100%; height: 1px; background: #E6E6E6")
                                    .contentWrapper 
                                        .contentBox
                                            .wrap1
                                                .reviewHeaderShop
                                                    img.imgUser(src="./assets/img/userWeb1.png")
                                                    .wrap2
                                                        .ratingWrapper
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                        .userWrapper
                                                            label Amelia Putri
                                                            span - 07 Desember 2024 
                                                            img(src="./assets/img/icon/ic_shopee.png" style="width: 24px; height: 24px;")
                                                p.reviewValue Saya sangat senang karena dosisnya tercetak rapi di bagian depan. Saya juga sudah tes darah untuk vitamin D dan ternyata tidak masih kurang, jadi saya mengonsumsi produk ini yang juga mengandung bahan lain.
                                            img.mediaBox(src="./assets/img/media_review.png")
                                        div(style="width: 100%; height: 1px; background: #E6E6E6")
                                        .contentBox
                                            .wrap1
                                                .reviewHeaderShop
                                                    img.imgUser(src="./assets/img/userWeb1.png")
                                                    .wrap2
                                                        .ratingWrapper
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                        .userWrapper
                                                            label Amelia Putri
                                                            span - 07 Desember 2024 
                                                            img(src="./assets/img/icon/ic_shopee.png" style="width: 24px; height: 24px;")
                                                p.reviewValue Saya sangat senang karena dosisnya tercetak rapi di bagian depan. Saya juga sudah tes darah untuk vitamin D dan ternyata tidak masih kurang, jadi saya mengonsumsi produk ini yang juga mengandung bahan lain.
                                            img.mediaBox(src="./assets/img/media_review.png")
                                        div(style="width: 100%; height: 1px; background: #E6E6E6")
                                        .contentBox
                                            .wrap1
                                                .reviewHeaderShop
                                                    img.imgUser(src="./assets/img/userWeb1.png")
                                                    .wrap2
                                                        .ratingWrapper
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                        .userWrapper
                                                            label Amelia Putri
                                                            span - 07 Desember 2024 
                                                            img(src="./assets/img/icon/ic_shopee.png" style="width: 24px; height: 24px;")
                                                p.reviewValue Saya sangat senang karena dosisnya tercetak rapi di bagian depan. Saya juga sudah tes darah untuk vitamin D dan ternyata tidak masih kurang, jadi saya mengonsumsi produk ini yang juga mengandung bahan lain.
                                            img.mediaBox(src="./assets/img/media_review.png")
                                        div(style="width: 100%; height: 1px; background: #E6E6E6")
                                        .contentBox
                                            .wrap1
                                                .reviewHeaderShop
                                                    img.imgUser(src="./assets/img/userWeb1.png")
                                                    .wrap2
                                                        .ratingWrapper
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                            span.fa.fa-star.checked
                                                        .userWrapper
                                                            label Amelia Putri
                                                            span - 07 Desember 2024 
                                                            img(src="./assets/img/icon/ic_shopee.png" style="width: 24px; height: 24px;")
                                                p.reviewValue Saya sangat senang karena dosisnya tercetak rapi di bagian depan. Saya juga sudah tes darah untuk vitamin D dan ternyata tidak masih kurang, jadi saya mengonsumsi produk ini yang juga mengandung bahan lain.
                                            img.mediaBox(src="./assets/img/media_review.png")
                                            
                            .tab-pane.fade#tab3(role="tabpane3" aria-labelledby="tab3-tab")
                                .faqBox
                                    .accordion.border-0#accordionExample
                                        .accordion-item
                                            h2.accordion-header
                                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne") 
                                                    .spanBold Pertanyaan 1?
                                            .accordion-collapse.collapse.show#collapseOne(data-bs-parent="#accordionExample")
                                                .accordion-body
                                                    .textBody Jawaban
                                        .accordion-item
                                            h2.accordion-header
                                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                                                    .spanBold  Pertanyaan 2?
                                            .accordion-collapse.collapse#collapseTwo(data-bs-parent="#accordionExample")
                                                .accordion-body
                                                    .textBody Jawaban
                                        .accordion-item
                                            h2.accordion-header
                                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                                                    .spanBold Pertanyaan 3?
                                            .accordion-collapse.collapse#collapseThree(data-bs-parent="#accordionExample")
                                                .accordion-body
                                                    .textBody Jawaban
                            .tab-pane.fade#tab4(role="tabpanel" aria-labelledby="tab4-tab")
                                .shippingBox
                                    .shippingWrapper 
                                        .titleWrapper
                                            span.text-center Exchange & Return
                                        .descWrapper 
                                            ul
                                                li If the product value is damaged by removing the product tag or opening the product, exchange or return is not possible even within 7 days of receiving the product.
                                                li For low-priced products and some special price products, the customer must pay the shipping fee for exchanges or returns due to change of mind (excluding product defects and delivery errors).
                                                li Prices for some products may change due to manufacturer circumstances such as the release of a new model or fluctuations in parts prices.
                                                li  For shoes, if they were worn outdoors or have signs of use, exchanges and returns are not possible even within the exchange/return period.
                                                li In the case of custom-made products (heel height, width of the foot, size change) among handmade products, exchanges and returns are not possible even within the exchange/return period after production is completed and received.
                                                li  Please understand that in the case of imported or luxury products, exchanges and returns are not possible if the product or its box is damaged or lost, resulting in loss of product value.
                                                li For some special price products, exchanges or returns due to simple change of mind on the part of the customer may not be possible after purchase, except in cases of product defects or incorrect delivery. Please be sure to refer to the product details for each product.
                                    div(style="align-self: stretch; height: 1px; background: #C4C4C4")
                                    .shippingWrapper 
                                        .titleWrapper
                                            span.text-center Shipping Information
                                        .descWrapper 
                                            ul
                                                li Shipping fee: The basic shipping fee is Rp 10.000. (Additional shipping fees may apply to some islands, mountainous areas, and remote areas.) Free shipping for purchases over Rp 150.000.
                                                li The average delivery date for this product is 2 days (after payment confirmation). For installation products, delivery may be slightly delayed. [The expected delivery date may differ from the average delivery date due to the fluidity of the order time (order sequence).]
                                                li This product can be delivered within 3 days. The delivery possible date refers to the period during which the product can be delivered to customers who ordered this product. (However, holidays and public holidays are excluded when calculating the period, and in the case of cash orders, it is based on the date of deposit.)                             

        .modal.fade#modalReviewProduct(tabindex="-1" aria-labelledby="modalReviewProduct" aria-hidden="true")
            .modal-dialog.sizeModal(role="document")
                .modal-content
                    .modal-header 
                        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        .wrapperModal
                            .titleWrapperText
                                span.titleModalReview Tambah Ulasan “Snovv Glutathione”
                                span.emailTextLabel Alamat email Anda tidak akan dipublikasikan. Kolom yang wajib diisi ditandai *
                            form.formWrapper
                                fieldset.rating
                                    input#star5(type="radio" name="rating" value="5")
                                    label(for="star5") 5 stars
                                    input#star4(type="radio" name="rating" value="4")
                                    label(for="star4") 4 stars
                                    input#star3(type="radio" name="rating" value="3")
                                    label(for="star3") 3 stars
                                    input#star2(type="radio" name="rating" value="2")
                                    label(for="star2") 2 stars
                                    input#star1(type="radio" name="rating" value="1")
                                    label(for="star1") 1 stars
                                input.inputBox(type="text" class="form-control" placeholder="Nomor Pesanan *")
                                .userWrapperspan
                                    input.inputBox(type="text" class="form-control" placeholder="Nama *")
                                    input.inputBox(type="email" class="form-control" placeholder="Email *")
                                textarea.inputBox1(rows="3" class="form-control" placeholder="Tulis Ulasanmu Di sini *")
                                input(type="file" id="input_video" style="display: none;" multiple)
                                input(type="file" name="uploadFoto" id="input_foto" style="display: none;" multiple)
                                .uploadFile#inputVideo
                                    img(src="./assets/img/icon/ic_uploadvideo.svg")
                                    .labelWrapper
                                        span.labelUpload Unggah video (0/3)
                                        span.labelInfoUpload#changeText1 Ukuran file maksimum 1024kb, maks 3 file
                                        span#warning1(style="color: red; display: none;") Hanya boleh upload 3 file!
                                .uploadFile#uploadFoto
                                    img(src="./assets/img/icon/ic_uploadfoto.svg")
                                    .labelWrapper
                                        span.labelUpload Unggah foto (0/3)
                                        small.labelInfoUpload#changeText2 Ukuran file maksimum 100kb, maks 3 file
                                        span#warning2(style="color: red; display: none;") Hanya boleh upload 3 file!
                                .wrapperBtnKirim
                                    button.btn.btnKirimRev(type="submit") 
                                        span.labelBtn Kirim

        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        script.

            bkLib.onDomLoaded(function() {
                new nicEditor({buttonList : ['fontSize','bold','italic','underline','strikeThrough','subscript','superscript','html']}).panelInstance('formatInput');
            });

            const div1 = document.getElementById("inputVideo");
            const fileInput1 = document.getElementById("input_video");
            const fileNameDisplay1 = document.getElementById("changeText1");
            const warning = document.getElementById("warning");
            
            const div2 = document.getElementById("uploadFoto");
            const fileInput2 = document.getElementById("input_foto");
            const fileNameDisplay2 = document.getElementById("changeText2");

            // Add a click event listener to the div
            div1.addEventListener("click", () => {
            fileInput1.click(); // Programmatically trigger the hidden input
            });

            // Add a change event listener to the input
            fileInput1.addEventListener("change", () => {
                const files = fileInput1.files; // Get the list of selected files
                fileNameDisplay1.innerHTML = ""; // Clear previous file list

                if (files.length > 3) {
                    warning1.style.display = "block";
                } else {
                    warning1.style.display = "none";

                    if (files.length > 0) {
                        // Loop through all selected files and display their names
                        Array.from(files).forEach((file, index) => {
                        const listItem = document.createElement("span");
                        listItem.textContent = `${file.name}, `;
                        fileNameDisplay1.appendChild(listItem);
                        });
                    } else {
                        fileNameDisplay1.innerHTML = "<span>Tidak ada file yang dipilih</span>";
                    }
                }
            });

                        // Add a click event listener to the div
            div2.addEventListener("click", () => {
            fileInput2.click(); // Programmatically trigger the hidden input
            });

            // Add a change event listener to the input
            fileInput2.addEventListener("change", () => {
            const files = fileInput2.files; // Get the list of selected files
                fileNameDisplay2.innerHTML = ""; // Clear previous file list

                if (files.length > 3) {
                    warning2.style.display = "block";
                    fileList.innerHTML = "<li>No files displayed due to excess selection</li>";
                } else {
                    warning2.style.display = "none";

                    if (files.length > 0) {
                        // Loop through all selected files and display their names
                        Array.from(files).forEach((file, index) => {
                        const listItem = document.createElement("span");
                        listItem.textContent = `${file.name}, `;
                        fileNameDisplay2.appendChild(listItem);
                        });
                    } else {
                        fileNameDisplay2.innerHTML = "<span>Tidak ada file yang dipilih</span>";
                    }
                }
            });

            $('.multiple-card-slider .carousel').each(function(){
                var currentCarouselId = '#' + $(this).attr('id');
                const multipleItemCarousel = document.querySelector(currentCarouselId);

                    const carousel = new bootstrap.Carousel(multipleItemCarousel, {
                        interval: false,
                        wrap: false
                    })
                    var carouselWidth = $(currentCarouselId + ' .carousel-inner')[0].scrollWidth;
                    var cardWidth = $(currentCarouselId + ' .carousel-item').width();
                    var scrollPosition = 0;    
                    $(currentCarouselId + ' .carousel-control-next').on('click', function(){
                        if(scrollPosition < (carouselWidth - (cardWidth * 4))){
                            console.log('next');
                            scrollPosition = scrollPosition + cardWidth;
                            $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
                        }
                    });
                    $(currentCarouselId + ' .carousel-control-prev').on('click', function(){
                        if(scrollPosition > 0){
                            console.log('prev');
                            scrollPosition = scrollPosition - cardWidth;
                            $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
                        }
                    });
            });

            // Function to handle the window resize
            function handleResize() {
                let reviewProductcss = "";
                if (window.innerWidth < 800) {
                    reviewProductcss = `
                        <div class="mobileWrapperUser">
                            <img class="imgUser" src="./assets/img/userWeb1.png"/>
                            <div class="rowContent">
                                <div class="detailContent">
                                    <div class="ratingWrapper">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <div class="userWrapper">
                                        <label> Amelia Putri </label>
                                        <span> - 07 Desember 2024 </span>
                                        <img src="./assets/img/icon/ic_shopee.png" style="width: 24px; height: 24px;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="reviewValue"> Saya sangat senang karena dosisnya tercetak rapi di bagian depan. Saya juga sudah tes darah untuk vitamin D dan ternyata tidak masih kurang, jadi saya mengonsumsi produk ini yang juga mengandung bahan lain.</p>
                        <img class="mediaBox" src="./assets/img/media_review.png">`;
                } else {
                    reviewProductcss = `
                        <img class="imgUser" src="./assets/img/userWeb1.png"/>
                        <div class="rowContent">
                            <div class="detailContent">
                                <div class="ratingWrapper">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <div class="userWrapper">
                                    <label> Amelia Putri </label>
                                    <span> - 07 Desember 2024 </span>
                                    <img src="./assets/img/icon/ic_shopee.png" style="width: 24px; height: 24px;"/>
                                </div>
                            </div>
                            <p class="reviewValue"> Saya sangat senang karena dosisnya tercetak rapi di bagian depan. Saya juga sudah tes darah untuk vitamin D dan ternyata tidak masih kurang, jadi saya mengonsumsi produk ini yang juga mengandung bahan lain.</p>
                        </div>
                        <img class="mediaBox" src="./assets/img/media_review.png">`;
                }

                $('#dataReview1,#dataReview2,#dataReview3,#dataReview4').append(reviewProductcss);
            }

            // Attach the resize event listener
            window.addEventListener('resize', handleResize);

            // Call the function initially to set the correct class on page load
            handleResize();

        